<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Template</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bootstrap Template</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Registration</h2>
        <form action="/login" method="post" >
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password">
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
</div>

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Material UI JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.11.0/umd/material-ui.min.js" integrity="sha512-RgSzm0zXJ0aSzV8ZETQfh4I1x4dQ/5B1J/0d+qwsjM9XOATNvV7WSZ5AYAxu23R5jOMbFdpJ1Y5+3CKqKjX9Aw==" crossorigin="anonymous"></script>
</body>
</html>